body {
  background: #4915F8;
  font-family: ariel;
  color: white; 
}

a {
  color: white;
}

a:hover {
  text-decoration: underline;
}

.heading {
  display: flex; 
  justify-content: center; 
  flex-direction: row;
}

input[type='button'] {
border: 0px;
border-radius: 25px;
color: white;
font-weight: bold;
padding: 10px 25px;
  text-align: center;
  background-color: #EC893A;
}



.section-1 {
  display: flex;
  align-items: center; 
  justify-content: center; 
  padding-top: 60px; 

}

.section-2 {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 60px; 

}

.section-3 {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  padding: 60px; 
}

.block-1 {
  flex: 0 0 400px;
  margin-top: 150px; 
  color: RGB(201, 184, 252);
}

h1 {
  font-size: 40px;

}

h2 {
  font-size: 30px; 
  font-weight: normal; 
}

.groovy-plant {
  flex: 0 1 400px;
  margin-right: -70px;
  margin-top: 40px;
  justify-content: right;
  
}

.block-2 {
  flex: 0 1 400px;
}

.photo-a {
  flex: 1 0; 

}

.photo-b {
  flex: 1 0;
  width: 10%;  
}

.description-1 {
  float: left;
  
}

.description-2 {
  float: right; 
 
}